[tool.poetry]
name = "simplyprint-ws-client"
version = "0.0.6"
license = "AGPL-3.0-or-later"
authors = ["SimplyPrint <contact@simplyprint.io>"]
description = "SimplyPrint Websocket Client"
homepage = "https://simplyprint.io"
repository = "https://github.com/SimplyPrint/printer-ws-client"
keywords = ["simplyprint", "websocket", "client"]
readme = "README.md"

packages = [
    { include = "simplyprint_ws_client" },
]

[tool.poetry.dependencies]
python = "^3.8"
tornado = "^6.2"
psutil = "^5.9.4"
sentry-sdk = "^1.18.0"
netifaces = "^0.11.0"
requests = "^2.28.2"
opencv-python = "^4.7.0.72"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/SimplyPrint/printer-ws-client/issues"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"